* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

main {
    color: white;
    background-color: #211818;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #383838;
    min-height: 500px;
    min-width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.display {
    min-width: 90%;
    min-height: 150px;
    background-color: #454545;
    border-radius: 10px;
    text-align: end;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    margin-top: 16px;
    height: 300px;
}

button {
    width: 25%;
    height: 25%;
    background-color: ;
    font-size: 32px;
    border: 3px outset;
    border-radius: 3px;
}

button:hover {
    filter: brightness(95%);
}
button:active {
    filter: brightness(90%);
}
.right button {
    width: 100%;
}

.span {
    flex: 1 1 30%;
    background-color: #FFC300;
}
.right {
    display: flex;
    flex-direction: column;
    width: 20%
}

.left {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
}

.gray {
    background-color: lightgray;
}

.result {
    font-size: 26px;
}

.inputs {
    font-size: 48px;;
}
